body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    width: 100%;
    
}
.login-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.avion{
    width: 5px;
    background: transparent; 
    position: absolute;
    left: 15%;
    top: 32%;
    mix-blend-mode: multiply;
    opacity: 0.9;
    animation: approcher 2s infinite linear;
    
}
.avionp{
    width: 100px;
    mix-blend-mode: multiply;
    position: absolute;
    left: 50%;
    top: 65%;
  
    transform: translate(-50%, -50%);
    animation: dessendre 0.5s infinite ease-in-out alternate ;

}
@keyframes approcher {
    0% {
        transform: translateY(-50%)
        scale(0.2);
        left: 15%;
        opacity: 0.5;
    }
    25% {
        transform: translateY(-50%)
        scale(0.3);
        left: 15%;
        opacity: 1;
    }
    50% {
        transform: translateY(-50%)
        scale(0.4);
        left:15%;
        opacity: 0;
        visibility: visible;
    }
    90% {
        visibility: hidden;
        
        left:15%;
        opacity: 0;
    }

    100% {
        visibility: hidden;
        
        left:15%;
        opacity: 0;
    }
}
@keyframes dessendre {
    0% {
        transform : translate(-50%,-48%) 
        scaleY(1);

    }
    100% {
        transform: translate(-50%, -52%)
        scaleY(0.99);
    }
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.input-container i {
    margin-right: 10px;
    color: gray;
}
.input-container input {
    border: none;
    outline: none;
    flex: 1;
}
button {
    background: blue;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.image-section {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #007bff

}
.image-section img {
    width: 80%;
    transition: transform 0.5s;
}
.image-section img:hover {
    transform: scale(1.1);
}
.error-message {
    display: none;
    color: white;
    background-color: red;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.lignes {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 21%;
    background: repeating-linear-gradient(
        135deg, 
        rgba(255, 255, 255, 0.1) 0px, 
        rgba(255, 255, 255, 0.1) 2px, 
        transparent 2px, 
        transparent 40px
    );
    opacity: 0.4;
}
.courbe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: white;
    clip-path: path("M0,100 C200,50 400,150 600,100 T1200,100 V200 H0 Z");
    opacity: 0.5;
}